body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    transform: scale(1.5);
}

button:hover {
    transform: scale(1.8);
}

:root {
--light-white: #f1f7f1;
--dark-blue: #36235a;
--light-blue: #235d92;
--light-grey: #acbad1;
--light-red: #e91c26;
--dark-red:#72151e;

--h1: 7.594rem;
}

body{
    background-color: var(--primary);
color: var(--secondary);
text-align: center;
align-items: center;
}

.warm{
--primary: var(--light-red);
--secondary: var(--dark-red);
}

.cool{
--primary: var(--dark-blue);
--secondary: var(--light-grey);
}

h1{
    font-size: var(--h1);
    padding-bottom: 7px;
}
