body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    align-items: center;
    transform: scale(1.5);
    color: var(--secondary);
    border-color: var(--turtiary);
    background-color: var(--primary);
    margin-bottom: 5px;

}

button:hover {
    transform: scale(1.8);
}

:root {
    --light-white: #f1f7f1;
    --dark-blue: #36235a;
    --light-blue: #235d92;
    --light-grey: #acbad1;
    --light-red: #e91c26;
    --dark-red: #72151e;

    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --p: 2.25rem;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
}

.card {
    padding: 5px;
    margin-bottom: 10px;
    border-width: 3px;
    border-style: solid;
    color: var(--secondary);
    border-color: var(--primary);
    background-color: var(--turtiary);
    width:400px;
}

.spacing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.warm {
    --primary: var(--light-red);
    --secondary: var(--dark-red);
    --turtiary: var(--light-grey);
}

.cool {
    --primary: var(--dark-blue);
    --secondary: var(--light-grey);
    --turtiary: var(--light-white);
}

h1 {
    font-size: var(--h1);
    align-items: center;
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

p {
    font-size: var(--p);
}

.padding {
    padding-bottom: 7px;
}

img {
    object-fit: cover;
    width: 100%;
    height: auto;
}